/*General*/

.fw-normal {

    font-weight: 500!important;
    font-size: 12px;

}

.fs-md {

    font-size: 16px;

}

.add-btn {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 100;
}

#btn-circle-primary {

    width: 45px;

    height: 45px;

    background: #1ab394;

    -moz-border-radius: 45px;

    -webkit-border-radius: 45px;

    border-radius: 45px;

    position: absolute;

    right: -10px;

    top: -15px;

    color: #fff;

    font-size: 23px;

    z-index: 9;

}

.m-t-sm {

    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    bottom: 50%;
    margin-top: -10px;
    margin-left: -2px;

}

.btn-approve.disabled {

    background-color: transparent;

    border-color: #8bc1b6;

    color: #8bc1b6;

}

.btn-reject.disabled {

    background-color: transparent;

    color: #F49CA6;

}

.btn-approve.approved {

    background-color: #18a689;

    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);

	cursor: auto;

    color: #ffffff;

}

.btn-reject.rejected {

    color: #ffffff;

    background-color: #ec4758;

    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);

	cursor: auto;

}



/*Upload Image*/

.ace-file-input {

    width: 100%;

}

.ace-file-input input[type=file] {

    display: none;

}

.ace-file-input .ace-file-container {

    display: block;

    position: absolute;

    top: 0;

    left: 0;

    right: 0;

    height: 30px;

    background-color: transparent;

    border: 1px solid #d5d5d5;

    cursor: pointer;

    -webkit-box-shadow: none;

    box-shadow: none;

    -webkit-transition: all .15s;

    -o-transition: all .15s;

    transition: all .15s;

}

.ace-file-multiple .ace-file-container {

    position: relative;

    height: auto;

    border: 1px dashed #d5d5d5;

    border-radius: 4px;

    text-align: center;

    background-color: #fff;

}

.ace-file-input .ace-file-container.selected {

    right: 16px;

}

.ace-file-input .ace-file-container:before {

    display: inline-block;

    content: attr(data-title);

    position: absolute;

    right: 0;

    top: 0;

    bottom: 0;

    line-height: 24px;

    text-align: center;

    padding: 0 8px;

    background-color: #6fb3e0;

    color: #FFF;

    font-size: 11px;

    font-weight: 700;

    border: 2px solid #FFF;

    border-left-width: 4px;

    -webkit-transition: all .3s;

    -o-transition: all .3s;

    transition: all .3s;

}

.ace-file-multiple .ace-file-container:before {

    display: inline-block;

    content: attr(data-title);

    /position: relative;

    right: 0;

    left: 0;

    /margin: 12px;

    line-height: 22px;

    background-color: transparent;

    color: #CCC;

    font-size: 11px;

    font-weight: 500;

    border-width: 0;

}

.ace-file-multiple .ace-file-container .ace-file-name.large:last-child {

    margin: 0 1px;

}

.ace-file-multiple .ace-file-container .ace-file-name.large {

    text-align: center;

    border-bottom: 1px solid #222;

    margin: 0 1px 3px;

}

.ace-file-multiple .ace-file-container .ace-file-name.large img {

    border-width: 0;

    margin: 0!important;

    padding: 0;

}

.ace-file-multiple .ace-file-container .ace-file-name img {

    padding: 2px;

    border: 1px solid #D7D7D7;

    background-color: #FFF;

    background-repeat: no-repeat;

    background-position: center;

    margin: 4px 8px 4px 1px;

}

.middle {

    vertical-align: middle;

}

.ace-file-input .ace-file-container .ace-file-name {

    display: inline-block;

    height: 28px;

    max-width: 80%;

    white-space: nowrap;

    overflow: hidden;

    line-height: 28px;

    color: #888;

    font-size: 13px;

    vertical-align: top;

    position: static;

    padding-left: 30px;

}

.ace-file-multiple .ace-file-container .ace-file-name {

    position: relative;

    display: block;

    padding: 0;

    height: auto;

    width: auto;

    max-width: 100%;

    margin: 0 4px;

    border-bottom: 1px solid #DDD;

    text-align: left;

}

.ace-file-multiple .ace-file-container .ace-file-name:first-child {

    margin-top: 1px;

}

.ace-file-multiple .ace-file-container .ace-file-name:last-child {

    border-bottom-width: 0;

    margin-bottom: 1px;

}

.ace-file-input .ace-file-container .ace-icon {

    display: inline-block;

    position: absolute;

    left: 0;

    top: 0;

    bottom: 0;

    line-height: 24px;

    width: 26px;

    text-align: center;

    font-family: FontAwesome;

    font-size: 13px;

    color: #FFF;

    -webkit-transition: all .1s;

    -o-transition: all .1s;

    transition: all .1s;

    background-color: #d1d1d1;

}

.ace-file-multiple .ace-file-container .ace-file-name .ace-icon {

    position: relative;

    display: block;

    text-align: center;

    height: auto;

    line-height: 64px;

    width: auto;

    font-size: 40px;

    color: #D5D5D5;

    margin: 4px 0;

    background-color: transparent;

}

.ace-file-multiple .ace-file-container.selected .ace-file-name .ace-icon {

    position: relative;

    margin-right: 4px;

    margin-left: 2px;

    line-height: 24px;

}

.ace-file-multiple .ace-file-container.selected .ace-file-name .ace-icon {

    display: inline-block;

    position: absolute;

    left: 0;

    top: 0;

    bottom: 0;

    line-height: 24px;

    width: 26px;

    text-align: center;

    font-family: FontAwesome;

    font-size: 13px;

    border: 2px solid #FFF;

    color: #FFF;

    -webkit-transition: all .1s;

    -o-transition: all .1s;

    transition: all .1s

}

.ace-file-input .ace-file-container .ace-file-name:after {

    display: inline-block;

    content: attr(data-title);

}

.ace-file-multiple .ace-file-container .ace-file-name:after {

    display: none;

}

.ace-file-multiple .ace-file-container.selected .ace-file-name:after {

    display: none;

    white-space: pre;

}

.ace-file-multiple .ace-file-container .ace-file-name img+.ace-icon,

.ace-file-multiple .ace-file-container.selected .ace-file-name img+.ace-icon {

    display: none;

}

.ace-file-input .remove {

    position: absolute;

    right: -8px;

    top: 6px;

    display: none;

    width: 17px;

    text-align: center;

    height: 17px;

    line-height: 15px;

    font-size: 11px;

    font-weight: 400;

    background-color: #fb7142;

    border-radius: 100%;

    color: #FFF;

    text-decoration: none;

}

.ace-file-multiple .remove {

    right: 0px;

    top: -11px;

    border: 3px solid #BBB;

    border-radius: 32px;

    background-color: #FFF;

    color: red;

    width: 23px;

    height: 23px;

    line-height: 15px;

}

.ace-file-input .ace-file-container.selected+.remove {

    display: inline-block;

}

.ace-icon {

    text-align: center;

}

.pointer {cursor: pointer;}

.x_padding {
  padding: 0px;
}

.x_padding_left {
  padding-left: 0px;
}

.inner_tab {
    margin-bottom: 30px;
}

.icon {
    text-align: center;
    font-size: 20px;
}
.form-group {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.margin-bottom-10, .golbal_country_con .chosen-container, .bootstrap-touchspin {
    margin-bottom: 10px;
}

.chosen-container.chosen-with-drop .chosen-drop {
    position: relative;
}

.padding_dowm {
  padding-bottom: 10px;
}
.view_more_content{
  display: none;
}

.clients-logo {
  float: left;
}
.clients-logo img{
  margin-top: 2px;
  margin-right: 2px;
  border: 1px solid #333;
}

.target_age_con .bootstrap-touchspin, .gender_percent_con .bootstrap-touchspin{
    margin: 0px;
}
.error {
    color: red !important;
    margin: 0px !important;
    font-size: 12px;
    font-style: italic;
}

.loading {
    font-size: 24px;
}

.image-crop img {
  max-width: 100%;
}

.top-profile {
    width : 60px;
    height: 60px;
}

.nav-header {
    background-repeat: no-repeat; 
}

.pagination {
    margin : 0px;
}