/*preload*/
#preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000000; 
}

#world-load {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #333;
  -webkit-animation: world 2400ms linear infinite;
  animation: world 2400ms linear infinite;
  z-index: 999; 
}

#world-load:before 
{
  content: "";
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  right: 7.5px;
  bottom: 7.5px;
  border-radius: 50%;
  border: 3px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #333;
  -webkit-animation: world 2700ms linear infinite;
  animation: world 2700ms linear infinite; 
}

#world-load:after
{
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  border: 3px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #333;
  -webkit-animation: world 1800ms linear infinite;
  animation: world 1800ms linear infinite; 
}

@-webkit-keyframes world {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes world {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

#page-wrapper {
	margin-left: 0px;
}

.pace .pace-progress {
	background-color: #ED1C24;
}

.red_font {
	color : #ED1C24;
}
#page-wrapper, .wrapper-content {
	padding: 0px!important;
  min-height: 100vh;

}

.small_font {
	font-size: 12px;
}

.inmodal .modal-body {
  background-color: #fff;
}


/*menu*/
.navbar-fixed-top {
	position: fixed;
	border-bottom: 0px !important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 9px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.top-navigation .navbar-brand {
	background-color: #ED1C24;
	width: 150px;
  text-align: center;
  height: 54px;
}
.top-navigation .nav > li a:hover, .top-navigation .nav > li a:focus{
	background-color: unset;
}

.top-navigation .nav > li.active {
  background-color: unset;
}

.top-navigation .nav > li.active > a {
	color : #ED1C24;
}

.top-navigation .nav > li a:hover, .top-navigation .nav > li a:focus {
	color : #ED1C24;
}

.navbar-toggle {
  background-color: #CE0F17;
}

.header-scrolled {
	background-color: #ED1C24 !important;
	box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
	transition: all 0.5s;
}
.header-scrolled a {
	background-color: unset;
	color: #fff !important;
}

.header-scrolled .dropdown-menu a{
	color: #333 !important;
}

.header-scrolled a:hover {
	color: #333 !important;
	
}

.header-scrolled .nav > li.active a {
  color: #333 !important;
}

.header-scrolled .nav .open > a, .header-scrolled .nav .open > a:hover, .header-scrolled .nav .open > a:focus {
  background-color: #ED1C24;
}
.user-front-mobile {
  display: none;
}
/*user*/
@media (max-width: 768px) {

  .user-front {
    display: none !important;
  }

  .header-scrolled .navbar-fixed-top .navbar-collapse, .header-scrolled .navbar-fixed-bottom .navbar-collapse {
    background-color: #CE0F17;
  }

  .user-front-mobile {
    display: block;
    background-color: #fff;
    padding: 10px;
  }
}

/*button*/
.btn-primary {
	background-color: #ED1C24;
    border-color: #CE0F17;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary, 
.btn-primary:active:focus, 
.btn-primary:active:hover, 
.btn-primary.active:hover, 
.btn-primary.active:focus{
    background-color: #CE0F17;
    border-color: #CE0F17;
}

/*input*/
.form-control:focus, .single-line:focus {
	border-color: #CE0F17 !important;
}

/*modal*/
.modal-content {
	position: absolute;
}
.inmodal .modal-header {
	padding: 25px;
}
.inmodal .modal-title {
	font-size: 20px;
}

/*banner*/
.banner-area {
	height: 400px;
}



.banner-area .item {
	height: 400px;
  background-size: cover !important;
  background-position: center !important;

  /*background-repeat: no-repeat!important;*/
}

/*.banner-area .item:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000080;
}
*/
.banner-area .title {
  margin-top: 20px;
  padding: 30px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 2px #222;
}

.banner-area .description {
  padding: 30 0px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  min-height: 300px;
  text-shadow: 0px 0px 2px #222;
}

@media (max-width: 768px) {
  .banner-area .title {
    font-size: 30px;
  }
  .banner-area .description {
    font-size: 20px;
  }
}

/*slick*/
.slick-slider {
  margin-bottom: 0px;
}
.slick-dots {
	bottom: 0px;

}
.slick-dots li {
	height: 10px;
	width: 10px;
    border-radius: 50px;
    background: lightgray;
}

.slick-dots .slick-active{
	background: #CE0F17!important;
}

.slick-dots li button {
	display: none;
}

.slickdot {
    height: 15px;
    width: 15px;
    background: lightgray;
    border-radius: 50px;
    display: inline-block;
    box-shadow:0px 0px 4px gray inset;
}

.slickdot.active {
    background-color: #41ABE5;
    box-shadow: inset 0px 0px 4px #888888;
}

.slick-arrow{
  display: none !important;
}

.redeem .slick-dots {
  bottom: -15px;
}

/*footer*/
.footer {
  position: static;
  bottom: unset;
  left: unset;
  right: unset;
}


footer {
  /*padding: 30px;*/
  background-color: #1d1d1d;
  color: #fff;
}


footer a {
  color: #fff;
}

footer a:hover {
  color: #CE0F17;
}

.footer-item {
  min-height : 200px;
}

.footer-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*page-header*/
.page-header {
  margin-top: 0px;
  background-image: url("../../images/page-header.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 200px;
}

/*chosen*/
.chosen-container ul.chosen-results li.highlighted {
  background-color: #ED1C24;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border-color: #CE0F17 !important;
}

.bootstrap-touchspin {
  margin-bottom: 0px;
}

/*product list*/
.product-imitation {
  padding: 30px
}

.product-price {
  background-color: #ED1C24;
}

.product-name:hover, .product-name:focus {
  color: #ED1C24;
}

.image-imitation{
  padding: 0px;
}

/*load more*/
.loader-ellips {
  font-size: 10px; /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  /*border-radius: 0.5em;*/
  background: #ED1C24; /* change color here */
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
  from { transform: scale(0.001); }
  to { transform: scale(1); }
}

@keyframes slide {
  to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}

/*chosen*/
.normal-chosen .chosen-container.chosen-with-drop .chosen-drop {
  position: absolute !important;
}

/*wizard*/
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active{
  background-color: #ED1C24;
}

.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active{
  background-color: #ED1C24;
}
.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active{
  background-color: #ED1C2499;
}

/*ibox*/
.ibox {
  -webkit-box-shadow: 9px 7px 11px -9px rgba(0,0,0,0.4);
  -moz-box-shadow: 9px 7px 11px -9px rgba(0,0,0,0.4);
  box-shadow: 9px 7px 11px -9px rgba(0,0,0,0.4);
}

.ibox-title{
  border: 0px;
}


/*section*/
.section {
  margin-bottom: 25px;
}

/*section work*/
.section.work .ibox-content {
  /*min-height: 350px;*/
}

.section.work .icon {
  height: 100px;
  font-size: 65px;
}

/*widget*/
.widget {
  margin : 0px;
}

.navy-bg, .bg-primary {
  background-color: #ED1C24;
}

.page-header{
  margin-bottom: 25px
}